$color-orange: #f0ad4e;
$color-red: #d9534f;
$color-green: #5cb85c;
$color-blue: #3fa2de;

$color-background-base: #262626;
$color-text: #999;
$color-text-light: #ddd;
$color-text-highlight: #eee;
$color-text-disabled: #444;
$color-text-on-accent-primary: #272727;
$color-text-component: #bbb;
$color-text-label: $color-text;
$color-text-header: $color-text-light;

$color-background-component: #222;


$color-accent-primary: $color-orange;
$color-accent-secondary: $color-blue;
$color-accent-hover: $color-orange;

$color-link: $color-blue;
$color-link-hover: $color-orange;


$form-component-height: 17px;

$tile-padding: 6px;
