@import 'variables';
@import 'fonts';
@import 'button';
@import 'buffer';
@import 'feedback';
@import 'link';
@import 'tile';
@import 'frame';
@import 'head';
@import 'forms';
@import 'tables';
@import 'search';


* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

html {
  height: 100%;
}

a {
  color: $color-accent-secondary;
  text-decoration: none;

  &:hover {
    color: $color-accent-hover;
  }
}

#container {
  position: relative;
  height: 100%;
  width: 100%;
}

// remove any outline resulting from the hotkeys component
#container > div[tabindex="-1"] > div[tabindex="-1"] {
  outline: 0;
}


html, body {
  margin: 0;
  padding: 0;
  background: #262626;
  @extend .type-regular;
  @extend .font-regular;
}

.panel {
  margin: 6px;
  background-color: #222;
  box-shadow: 0 0 5px rgba(63, 162, 222, .5); // fix?
  header {
    background-color: rgba(63, 162, 222, 0.15);
    color: #eee;
    padding: 5px 8px;
    white-space: nowrap;
    border-bottom: 1px solid rgba(63, 162, 222, 0.2);

    font-size: 11px;
    text-transform: uppercase;
    line-height: normal;
    font-family: 'Open Sans', sans-serif;
  }
}

.content {
  color: #bbb;
  padding: 8px;
}

@mixin icon($r, $g, $b) {
  background: linear-gradient(135deg, rgb($r, $g, $b), rgb($r+25, $g+25, $b+25));
  color: rgb($r+127, $g+127, $b+127);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  margin: 2px auto;
  position: relative;
  .inset {
    position: absolute;
    bottom: 0;
    right: 0;
    line-height: 0.9;
    border-radius: 3px 0 0 0;
    padding: 3px 3px 2px 4px;
    color: #bbb;
    background-color: #23282b;
    font-size: 8px;
  }
}

.icon {
  &--bui, &--building {
    @include icon(52, 140, 160)
  }

  &--agr, &--agricultural-products {
    @include icon(92, 18, 18)
  }

  &--ele, &--elements {
    @include icon(91, 46, 183)
  }

  &--conb, &--consumables-basic {
    @include icon(73, 85, 97)
  }

  &--conl, &--consumables-luxury {
    @include icon(9, 15, 15)
  }

  &--pla, &--plastics {
    @include icon(26, 60, 162)
  }

  &--conm, &--construction-materials {
    @include icon(24, 91, 211)
  }

  &--conp, &--construction-parts {
    @include icon(35, 30, 68)
  }

  &--conf, &--construction-prefabs {
    @include icon(54, 54, 54)
  }

  &--chm, &--chemicals {
    @include icon(183, 46, 91)
  }

  &--gas, &--gases {
    @include icon(67, 77, 87)
  }

  &--fue, &--fuels {
    @include icon(30, 123, 30)
  }

  &--min, &--minerals {
    @include icon(73, 85, 97)
  }

  &--met, &--metals {
    @include icon(16, 92, 87)
  }

  &--all, &--alloys {
    @include icon(77, 77, 77)
  }

  &--dro, &--drones {
    @include icon(91, 46, 183)
  }

  &--elcd, &--electronic-devices {
    @include icon(86, 20, 147)
  }

  &--elcp, &--electronic-parts {
    @include icon(92, 30, 122)
  }

  &--elcc, &--electronic-pieces {
    @include icon(73, 85, 97)
  }

  &--elcs, &--electronic-systems {
    @include icon(49, 24, 7)
  }

  &--ene, &--energy-systems {
    @include icon(51, 24, 216)
  }

  &--liq, &--liquids {
    @include icon(80, 41, 23)
  }

  &--med, &--medical-equipment {
    @include icon(9, 15, 15)
  }

  &--ore, &--ores {
    @include icon(57, 95, 96)
  }

  &--she, &--ship-engines {
    @include icon(14, 57, 14)
  }

  &--shk, &--ship-kits {
    @include icon(29, 36, 16)
  }

  &--shp, &--ship-parts {
    @include icon(59, 45, 148)
  }

  &--shs, &--ship-shields {
    @include icon(132, 82, 34)
  }

  &--swc, &--software-components {
    @include icon(67, 77, 87)
  }

  &--sws, &--software-systems {
    @include icon(26, 60, 162)
  }

  &--swt, &--software-tools {
    @include icon(6, 6, 29)
  }
  &--tex, &--textiles {
    @include icon(80, 41, 23)
  }
  &--unp, &--unit-prefabs {
    @include icon(59, 45, 148)
  }
  &--uti, &--utility {
    @include icon(54, 54, 54)
  }


}

.recipe {
  display:flex;
  justify-content: flex-end;
  background: mix($color-background-component, $color-accent-secondary, 85%);
  .recipe-arrow, .recipe-time, .recipe-at {
    display:flex;
    align-items:center;
    justify-content: center;
  }
  .recipe-arrow, .recipe-time {
    padding: .2rem;
  }
  .recipe-time {
    background-color: $color-background-component;
    line-height: 1rem;
    text-align: center;
  }
  .recipe-inputs, .recipe-outputs, .recipe-building, .recipe-duration {
    display: flex;
    &>div,&>span { margin: 2px; }
  }
}

.production-slot {
  box-shadow: inset 0 0 6px 0 #3fa2de;
}


.building-title {
  padding-bottom: 4px;
}
.building-name {
  @extend .font-headers;
  @extend .type-very-large;

  padding-bottom: 4px;
  padding-top: 4px;
}

.building-info {
  display: inline-flex;
  flex-direction: column;

  width: 100%;

  padding: 4px 8px;
}

.material-title {
  padding-bottom: 4px;
}
.material-name {
  @extend .font-headers;
  @extend .type-very-large;

  padding-bottom: 4px;
  padding-top: 4px;
}

.material-info {
  display: inline-flex;
  flex-direction: column;

  width: 100%;

  padding: 4px 8px;
}


.capacity-title {
  margin: 4px;
}
.capacity-value {
  color: $color-text-label;
  margin: 4px;
}

$ANT: #c2475f;
$BEN: #4d97cc;
$HRT: #709c84;
$MOR: #a15747;


circle, line, text {
  z-index:1;
  fill: fade-out($color-text, .5);
  stroke: $color-text;
}
text {
  fill: $color-text;
}

.svg-map {

  line {
    pointer-events: none;
    &.route { stroke: $color-accent-primary; stroke-width:3px; }
    z-index:1;
  }


  .map-group {
    z-index:0;
    polygon {
      fill: rgba(255, 255, 255, .05);
      transition: 250ms ease-in;
      &:hover { fill: rgba(255,255,255, .12) !important; }
    }

    transition: 250ms ease-in;
    pointer-events: visiblePainted;

    .sector-name {
      font-size: 72px;
      opacity: 0;
      pointer-events:none;
    }

    &:hover, &.is-hovered {
      polygon {
        fill: rgba(255, 255, 255, .09);
      }
      .sector-name {
        opacity:.4;
      }
    }
  }


  .sub-display {
    overflow: visible;
    z-index:3;
    text {
      z-index:4;
      font-size:1rem;
    }
  }

  .system-indicator {
    pointer-events: visiblePainted;
    .system {
      z-index:2;
      cursor: pointer;
      &.route { stroke: $color-accent-primary }
    }
    &.route-end .system { fill: $color-accent-primary }
    .system-name {
      z-index:3;
      opacity: 0;
      transition: 250ms ease-in;
      font-weight: 400;
      pointer-events: none;
      filter: drop-shadow(0 0 3px #000);
      stroke: #000;
      stroke-width: .3;
      @extend .type-very-large;
    }
    &:hover .system-name, &.route-end .system-name {
      opacity: 1;
      z-index:9;
    }
  }
}

.NCC, .NC1, .MOR { color: $MOR; stroke: $MOR; fill: fade-out($MOR, .5); text { fill: $MOR; }  }
.CIS, .CI1, .BEN { color: $BEN; stroke: $BEN; fill: fade-out($BEN, .5); text { fill: $BEN; }  }
.ICA, .IC1, .HRT { color: $HRT; stroke: $HRT; fill: fade-out($HRT, .5); text { fill: $HRT; }  }
.AIC, .AI1, .ANT { color: $ANT; stroke: $ANT; fill: fade-out($ANT, .5); text { fill: $ANT; }  }

